{{!-- <!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acta de Devolución</title>

        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .textend {
            text-align: right;
            font-size: 15px;
        }

        .textencabezado {
            text-align: center;
            font-size: 19px;
        }

        .tabla {
            width: 100%;
            border-collapse: collapse;
        }

        .tabla,
        .tabla th,
        .tabla td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .bordestabla th {
            background-color: #f2f2f2;
        }

        .header {
            width: 100%;
            height: 10vh;
            margin-bottom: 20px;
            opacity: 0.5;
        }

        .footer {
            width: 100%;
            height: 10vh;
            position: absolute;
            opacity: 0.5;
            bottom: 0;
        }

        .fondoContainer {
            background-image: url("/imgs/marcadeagua.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
        .fondo {
            position: absolute;
            z-index: -1;
            top: 260px;
            left: 150px;
        }
        .container {
            height: 78vh;
            display: flex;
            justify-content: center;
        }
         .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 70%;
        }

    </style>
    </head>

    <body class>
        <div class="fondo">
            <img src="/imgs/marcadeagua.png" alt style="height: 400px;">
        </div>
        <header class="header">
            <img src="/imgs/logo.png" alt="Logo" style="width: 100%">
        </header>

        <div class="container">
            <div class="content">
                <div class>
                    <h3 class="textend">Fecha: {{fechaDevolucion}}</h3>
                    <h1 class="textencabezado">ACTA DEVOLUCION DE EQUIPOS</h1>
                    <p style="font-size: 16px;">Con la presente acta se  hace
                        entrega de los siguientes elementos para ser
                        reintegrados en
                        almacén:</p>
                </div>

                <div class="datos-proyecto">
                    <table class="tabla">
                        <thead>
                            <tr style="font-size: 16px;">
                                <th>#</th>
                                <th>Cantidad</th>
                                <th>Tipo de Cantidad</th>
                                <th>Elemento</th>
                                <th>Marca</th>
                                <th>Serial</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each productos}}
                            <tr style="font-size: 14px;">
                                <td>{{numero}}</td>
                                <td>{{cantidadDevuelta}}</td>
                                <td>{{tipoCantidad}}</td>
                                <td>{{elemento}}</td>
                                <td>{{marca}}</td>
                                <td>{{serial}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div>
                    <p style="font-size: 16px;"><b>Manifiesto que:</b></p>
                    <ul style="font-size: 16px;">
                        <li>Se verifica la entrega de elementos en buen estado a
                            almacén.</li>
                    </ul>
                </div>

                <div>
                    <table class="tabla">
                        <thead>
                            <tr style="font-size: 16px;">
                                <th>Entregado por:</th>
                                <th>Cargo:</th>
                                <th>Recibido por:</th>
                                <th>Cargo:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 14px;">
                                <td>{{tecnico.nombre}}</td>
                                <td>{{tecnico.cargo}}</td>
                                <td>{{almacenista.nombre}}</td>
                                <td>{{almacenista.cargo}}</td>
                            </tr>
                            <tr style="font-size: 16px;">
                                <th>Firma:</th>
                                <th>Cédula:</th>
                                <th>Firma:</th>
                                <th>Cédula:</th>
                            </tr>
                            <tr style="font-size: 14px;">
                                <td></td>
                                <td>{{tecnico.cedula}}</td>
                                <td></td>
                                <td>{{almacenista.cedula}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer">
            <img src="/imgs/footer.png" alt="Footer" style="width: 100%">
        </footer>
    </body>

</html> --}}

{{!---------------------------acta en 0s --}}




<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acta de Entrega</title>

        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
        }


        .textend {
            text-align: right;
            font-size: 18px;
        }

        .textencabezado {
            text-align: center;
            font-size: 18px;
        }

        .tablaR {
            width: 95%;
            border-collapse: collapse;
        }

        .tablaR,
        .tablaR th,
        .tablaR td {
            border: 1px solid black;
            padding: 1px;
            text-align: left;
            text-align: center;
        }

        .tablaR th {
            padding: 8px;
        }

        .tabla-firmas {
            width: 95%;
            border-collapse: collapse;
        }

        .tabla-firmas,
        .tabla-firmas td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        } 


        .bordestabla th {
            background-color: #f2f2f2;
        }

        .header {
            width: 100%;
            height: 10vh;
            margin-bottom: 20px;
            opacity: 0.5;
        }

        .footerR {
            width: 100%;
            height: 8vh;
            position: absolute;
            opacity: 0.5;
            bottom: -950px;
        }

        .fondoContainer {
            background-image: url("/imgs/marcadeagua.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
        .datos-proyecto {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .bord{
            border-right: 1px solid black;
        }

        .container {
            height: 78vh;
            display: flex;
            justify-content: center;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 70%;
        }

        .titulo {
            padding: 0 20px 0 20px 0;
            width: 80%;
        }

        .firmas{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .manifiesto {
            width: 90%;
            padding: 0 20px 0 20px 0;   
        }

        .fondo2 {
            position: absolute;
            z-index: -1;
            top: 1240px;
            left: 150px;
        }

        td {
        text-transform: uppercase;
        }
        .reintegro{
            margin-top: 200px;
        }

        .fechaR{
            margin-bottom: 20px;
        }

       

    </style>
    </head>

    <div class="reintegro ">
         {{!-- <div class="membrete">
            <img src="/imgs/membrete.png">
        </div> --}}
        <div class="fondo2">
            <img src="/imgs/marcadeagua.png" alt style="height: 400px;">
        </div>
        <header class="header">
            {{!-- <img src="/imgs/logo.png" alt="Logo" style="width: 100%"> --}}
        </header>

        <div class="container">
            <div class="content">
                <div class="titulo">
                    <div class="fechaR">
                        <p class=""><strong>Fecha:
                            </strong> {{fechaDevolucion}}</p>
                    </div>
                    <h1 class="textencabezado">ACTA REINTEGRO DE EQUIPOS</h1>
                    <p style="font-size: 14px;">Con la presente acta se le hace
                        entrega de los siguientes elementos para ser
                        reintegrados en el almacen
                        {{destinoElemento}}</p>
                </div>

                <div class="datos-proyecto">
                    <table class="tablaR">
                        <thead>
                            <tr style="font-size: 16px;">
                                <th class="tabla-titulo">Cantidad</th>
                                <th class="tabla-titulo">Descripción</th>
                                <th class="tabla-titulo">Marca</th>
                                <th class="tabla-titulo">Serial</th>
                                <th class="tabla-titulo">Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each productos}}
                            <tr style="font-size: 14px;">
                                <td>{{cantidadDevuelta}}</td>
                                <td>{{elemento}}</td>
                                <td>{{marca}}</td>
                                <td>{{serial}}</td>
                                <td>{{color}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="manifiesto">
                    <p
                        style="font-size: 16px; margin-bottom:-10px;"><b>Manifiesto
                            que:</b></p>
                    <ul style="font-size: 15px; font-weight: 300;">
                        <li>Se verifica la entrega de elementos en buen estado
                            al almacen.</li>
                    </ul>
                </div>

                <div class="firmas">
                    <table class="tabla-firmas">
                        <thead>
                            <tr style="font-size: 14px;">
                                <th class="bord">Entregado por:</th>
                                <th class="bord">Cargo:</th>
                                <th class="bord">Recibido por:</th>
                                <th class>Cargo:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="font-size: 14px;">
                                <td>{{tecnico.nombre}}</td>
                                <td>{{tecnico.cargo}}</td>
                                <td>{{almacenista.nombre}}</td>
                                <td>{{almacenista.cargo}}</td>
                            </tr>
                            <tr style="font-size: 14px;">
                                <th>Firma:</th>
                                <th class="bord">Cédula:</th>
                                <th>Firma:</th>
                                <th>Cédula:</th>
                            </tr>
                            <tr style="font-size: 14px;">
                                <td>
                                    {{#if tecnico.firma_path}}
                                        <img src="{{tecnico.firma_path}}" 
                                        alt="Firma del técnico" 
                                        style="height: 40px; max-width: 150px; padding: 0;" 
                                        onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
                                        <div style="display: none; font-size: 12px; color: #999;"></div>
                                    {{else}}
                                        <div style="font-size: 12px; color: #999;"></div>
                                    {{/if}}
                                </td>
                                <td>{{almacenista.cedula}}</td>
                                <td>
                                    
                                </td>
                                <td>{{tecnico.cedula}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <footer class="footerR">
            {{!-- <img src="/imgs/footer.png" alt="Footer" style="width: 100%"> --}}
        </footer>
        <script>
  window.addEventListener('DOMContentLoaded', () => {
    const tbody = document.querySelector('.tablaR tbody');
    const totalRows = tbody.querySelectorAll('tr').length;
    const minRows = 15;

    for (let i = totalRows; i < minRows; i++) {
      const tr = document.createElement('tr');
      tr.style.fontSize = '12px';
      tr.innerHTML = `
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      `;
      tbody.appendChild(tr);
    }
  });

    document.querySelectorAll('.tabla-titulo').forEach(td => {
        td.textContent = td.textContent.toUpperCase();
    });

</script>
    </div>

</html>